.about-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  text-align: left;
  font-size: 17px;
}

.hide {
  list-style: none;
  color: black;
  font-size: 15px;
}
div .about-box{
  background-color: rgba(203, 221, 203);
}
.about-box {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 3500px) {
  .grid {
    padding: 15%;
  }
}
