.footer-container {
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  box-shadow: 0 15px 30px rgba(129, 124, 124, 0.9);
  background-color:rgba(167, 239, 159, 0.4);
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: right;
  padding-right: 2%;
}

@media (min-width: 200px) {
  .footer-container {
    width: 100%;
    height: 5%;
  }
}
