.navbar{
   background-color:rgba(167, 239, 159);

}

.mr-auto {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  font-stretch: extra-expanded;
  color: black;
}
.brand{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding-left: 3%;
  font-stretch: extra-expanded;
}

@media (min-width: 200px) {
  .footer-container {
    width: 150%;
    height: 10%;
  }
}
